

<div>
    <h3 class="page_title">部门管理</h3> 
    <%= link_to '添加新部门', new_department_path, :class => "btn btn-primary new_btn" %>
</div>

<table class="table">
  <tr>
    <th>名称</th>
    <th>操作</th>
  </tr>

  <% @departments.each do |department| %>
    <tr>
      <td><%= department[0] %></td>
      <td width="100px"><%= link_to '编辑', edit_department_path(department[1]) %></td>
    </tr>
  <% end %>
</table>
